<header>

    <nav class="flex justify-between border-4 border-red-600">
        <ul >
            <li>
                Icono
            </li>
            <li>
                Survey Rails App. 
            </li>
            </ul>
            <ul>

                <li>
                <button>Sign up</button>
                </li>
                <li>
                    <button>Sign in</button>
                </li>
        </ul>
    </nav>
</header>