<main>
  <section class="h-96 flex justify-between items-center gap-10 gb-bg-mainColor">
    <div class="text-whit">
<p>
  Survey Rails App.
</p>
<p>
  Create you first survey.
</p>
    </div>
    <div class="div">
      imagem
    </div>
  </section>
</main>